* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

/* Common */
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 58px;

    height: var(--height);
    line-height: var(--height);
    min-width: 149px;
    background: #212832;
    border-radius: 8px;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    outline: none;
}

.btn:hover {
    opacity: 0.9;
}

.section-title {
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75;
    position: relative;
    padding-left: 30px;
}

.section-title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.section-heading {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}
/* Header */
.header {
    padding-top: 42px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.navbar__link {
    padding: 8px 23px;
    color: #696d76;
    text-align: center;
    font-size: 1.6rem;
    position: relative;
}

.navbar__link--active,
.navbar__link:hover,
.action__sign-in {
    text-shadow: 0 0 1px currentColor;
    color: #212832;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 23px;
    right: 23px;
    border-radius: 99px;
    background: #7264d6;
}

.action {
    margin-left: auto;
}

.action__sign-up {
    --height: 52px;
    min-width: 113px;
    border-radius: 6px;
    margin-left: 28px;
}

/* Hero */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 160px;
    align-items: center;
}

.hero__content {
    width: 46%;
}

.hero__title {
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75;
    position: relative;
    padding-left: 30px;
}

.hero__title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.hero__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero__highlight {
    color: #7264d6;
}

.hero__desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.67;
}

.email-form {
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.email-form__input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 23px;
    border-radius: inherit;
}

.email-form__input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
}

.email-form__submit {
    background: #7264d6;
}

.hero__private {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero__media {
    height: 562px;
    flex: 1;
    position: relative;
}

.hero__img {
    width: 298px;
    display: block;
}

.hero-deposit {
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 113px;
    left: -100px;
}

.hero-deposit__decor-text {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 8px;
}

.hero-deposit__decor-price {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
}

.hero-secured-funds {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    position: absolute;
    bottom: 61px;
    right: 100px;
}

.hero-secured-funds__content {
    margin-left: 11px;
}

.hero-secured-funds__price,
.hero-secured-funds__text {
    display: block;
    color: #fff;
}

.hero-secured-funds__price {
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-secured-funds__text {
    margin-top: 5px;
    font-size: 0.8rem;
}

.hero-interest {
    width: 130px;
    height: 130px;
    background: #da6464;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 127px;
}

.hero-interest__data,
.hero-interest__text {
    display: block;
}

.hero-interest__data {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__text {
    color: #fff;
    font-size: 1.6rem;
}

/* Work */
.work {
    margin-top: 160px;
}

.work__inner {
    display: flex;
    align-items: center;
    column-gap: 230px;
}

.work__media {
    width: 456px;
    height: 619px;
    position: relative;
}

.work__img {
    width: 100%;
    height: 100%;
    position: relative;
}

.work__img-wrap {
    position: relative;
}

.work__img-wrap::before {
    content: url(../img/work__background.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 550px;
    display: inline-block;
}

.work__decor-01 {
    position: absolute;
    top: 76px;
    right: 62px;
}

.work__decor-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    bottom: 96px;
    right: -100px;
}

.work__decor-content {
    margin-left: 10px;
}

.work__decor-congratulations,
.work__decor-active {
    display: block;
}

.work__decor-congratulations {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.work__decor-active {
    margin-top: 5px;
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
}

.work__content {
    flex: 1;
}

.work__heading {
    margin-bottom: 70px;
}

.work__title {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
    margin-top: 30px;
}

.work__desc {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
    width: 470px;
    margin-top: 16px;
}

/* Pay */
.pay-01,
.pay-02 {
    margin-top: 160px;
}

.pay__inner-01,
.pay__inner-02 {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.pay__inner-02 {
    column-gap: 230px;
}

.pay__content-01,
.pay__content-02 {
    width: 40, 1709401709%;
}

.pay__media-01,
.pay__media-02 {
    flex: 1;
    position: relative;
}

.pay__heading {
    width: 470px;
}

.pay__desc {
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.67;
    width: 470px;
    margin-top: 20px;
}

.pay__list {
    margin-top: 28px;
}

.pay__link {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.pay__item {
    margin-top: 18px;
    position: relative;
    padding-left: 24px;
}

.pay__item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.pay__link-start {
    margin-top: 38px;
}

.pay__img {
    display: block;
}

.pay-bank {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    width: 276px;
    height: 86px;
    position: absolute;
    top: -48px;
    right: 0;
}

.pay-bank__inner {
    display: flex;
    align-items: center;
    padding-right: 13px;
}

.pay-bank__text-1,
.pay-bank__text-2,
.pay-bank__price,
.pay-bank__day {
    display: block;
}

.pay-bank__text-1 {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.pay-bank__text-2 {
    margin-top: 4px;
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1rem;
}

.pay-bank__left {
    margin-left: auto;
}

.pay-bank__price {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
    text-align: right;
}

.pay-bank__day {
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    text-align: right;
    margin-top: 3px;
}

.pay-income {
    border-radius: 16px;
    background: #439f90;
    width: 120px;
    height: 120px;
    padding: 15px;
    position: absolute;
    bottom: -55px;
    right: 0;
}

.pay-income__text-01,
.pay-income__price {
    display: block;
    color: #fff;
}

.pay-income__text-01 {
    font-size: 1.2rem;
    margin-top: 14px;
}

.pay-income__price {
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
}

.pay-02__img {
    width: 413px;
    height: 100%;
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pay-02__img-wrap {
    position: relative;
}

.pay-02__img-wrap::before {
    content: url(../img/pay-02-background.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/* Clients */
.client {
    margin-top: 160px;
}

.client__top {
    text-align: center;
}

.client__title {
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75;
    position: relative;
    padding-left: 30px;
    display: inline-block;
}

.client__title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.client__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.client__desc {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 18px;
    width: 435px;
    margin-left: auto;
    margin-right: auto;
}

.client__list {
    margin-top: 70px;
}

.client-item {
    display: flex;
    column-gap: 30px;
}

.client__quote {
    background: #fff;
    padding: 42px 28px;
    width: 570px;
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.55;
    position: relative;
    border: 1px solid #dfe2e8;
    border-radius: 7px;
}

.client__quote::after {
    content: "";
    display: inline-block;
    width: 70px;
    height: 70px;
    rotate: 45deg;
    background: #fff;
    position: absolute;
    bottom: -62px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid;
    border-color: transparent #dfe2e8 #dfe2e8 transparent;
}
.client__quote:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.client__img-wrap {
    background: #4ab5e3;
    border-radius: 50%;
    width: 104px;
    height: 104px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 76px;
}

.client__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client__name {
    margin-top: 20px;
    color: #070052;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.client__work {
    margin-top: 2px;
    color: #696d76;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
}

.client__feedback:nth-child(2) .client__img-wrap {
    background: #439f90;
}

.dash__list {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin-top: 38px;
}

.dash-item {
    border-radius: 1px;
    border: 1px solid #9b9fab;
    width: 22px;
    height: 6px;
    cursor: pointer;
}

.dash-item--active {
    background: #7264d6;
    border-color: #7264d6;
}
/* Blog */
.blog {
    margin-top: 160px;
}

.blog__title {
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75;
    padding-left: 30px;
    position: relative;
}

.blog__title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.blog__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__heading {
    margin-top: 6px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.blog__desc {
    margin-top: 18px;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
    width: 435px;
}

.blog__cta {
    min-width: 123px;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog-item {
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    padding: 28px;
    transition: border-color 0.4s, box-shadow 0.4s;
}

.blog-item__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.blog-item__content {
    margin-left: 22px;
    color: #696d76;
    font-size: 1.4rem;
    line-height: 1.71;
}

.blog-item__heading {
    margin-top: 10px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog-item__cta {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.62;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.4s;
}

.blog-item:hover {
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item:hover .blog-item__cta {
    color: #7264d6;
}
